[submodule "Assets/BT Framework"]
	path = Assets/BT Framework
	url = https://f15gdsy@github.com/f15gdsy/BT-Framework.git
[submodule "Assets/Utilities"]
	path = Assets/Utilities
	url = https://f15gdsy@github.com/f15gdsy/Utilities-Unity.git
